{% load static %}
{% block content %}
<!doctype html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">

  </head>
  <hr>
  <hr>
  <div class="centerdiv" id="follow">
    <a style="background-color: #1d109ed4; box-shadow:1px 4px 2px 2px #aba8c7;" href="">
      <i class="fa fa-2x fa-facebook"></i>
    </a>
    <a style="background-color: #0f46f9d4; box-shadow:1px 4px 2px 2px #618de8;" href="">
      <i class="fa fa-2x fa-twitter"></i>
    </a>
    <a style="background-color: #dc088c; box-shadow:1px 4px 2px 2px #c186ab;" href="">
      <i class="fa fa-2x fa-instagram"></i>
    </a>
    <a style="background-color: #e41111; box-shadow:1px 4px 2px 2px #771313;" href="">
      <i class="fa fa-2x fa-youtube"></i>
    </a>
    <a style="background-color: #480cea; box-shadow:1px 4px 2px 2px #132677;" href="">
      <i class="fa fa-2x fa-linkedin"></i>
    </a>
  </div>
  <div style="background-color: rgb(222, 224, 224);">
    <hr>
    <div class="fot">
      <div style="margin-left: 30px;">
        <p style="">Help and Information</p>
        <a href="">Help</a><br>
        <a href="">Track your order</a><br>
        <a href="">Delivery and Returns</a>
      </div>
      <div style="margin-left: 50px;">
        <p style="">About Be Queen</p>
        <a href="">About us</a><br>
        <a href="">Career at Be Queen</a><br>
        <a href="">Corporate Responsibility</a>
        <a href="">Investor's Site</a>
      </div>
      <div style="margin-left: 70px;">
        <p style="">More from Be Queen</p>
        <a href="">Mobile and Be Queen Apps</a><br>
        <a href="">Be Queen Marketplace</a><br>
        <a href="">Gift Vouchers</a>
        <a href="">Black Friday</a>
      </div>
      <div style="margin-left: 70px;">
        <p style="">Shopping From</p>
        <a href="">You are in :</a><br>
      </div>
    </div>
  </div>
  
  
  <a href="#" class="scrollup show-scroll" id="scroll-up">
    <i class="fa fa-arrow-up scrollup-icon"></i>
  </a>
</html>
{% endblock %}